{% extends 'base.html' %}


{% block extrastyle %}

    <style>

    body {
        background-color: #ccc;
    }

    li {
        color: #000;
    }

    #sample-form {
        border: 1px solid white;
        width: 100%;
        padding: 10px;
        color: black;
        background-color: #aaa;
    }

    .sample-grid {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .sample-grid td,
    .sample-grid th {
        border: 1px solid black;
        padding: 4px;
    }

    .tile {
        border: 1px solid black;
        width: 60px;
        height: 20px;
    }

    .value {
        text-align: right;
    }

    </style>

{% endblock extrastyle %}
